[submodule "sdk"]
	path = sdk
	url = https://github.com/KomodoPlatform/komodo-defi-sdk-flutter.git
	branch = kdf-roll/hotfix-remove-memorydb-size-metric-476262f
	update = checkout
	fetchRecurseSubmodules = on-demand
	ignore = dirty
